name: Kustomize Deploy Workflow

on:
  workflow_call:
    inputs:
      kustomization_dir:
        description: 'Relative kustomization.yml directory'
        required: true
        type: string
      namespace:
        description: 'Kubernetes namespace to run kubectl with'
        required: true
        type: string
      base_image_repository:
        description: 'The base docker image repository (grc.io/my_project_id/my_org)'
        required: false
        type: string
      images_tags:
        description: 'Space separated "IMAGE:TAG" list'
        type: string
        required: true
      deployments:
        description: 'Space separated k8s DEPLOYMENT names'
        type: string
        required: true
    secrets:
      aws_role:
        required: true
      aws_account_id:
        required: true
      aws_region:
        required: true
      aws_cluster_name:
        required: true

jobs:
  kustomize_deploy:
    name: Deploys an application to AWS EKS cluster using kustomize
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.aws_role }}
        aws-region: ${{ secrets.aws_region }}

    - name: Set EKS config
      run: |-
        aws eks update-kubeconfig --name ${{ secrets.aws_cluster_name }} --region ${{ secrets.aws_region }}

    - name: Set up Kustomize
      run: |-
        curl -sfLo /tmp/kustomize https://github.com/kubernetes-sigs/kustomize/releases/download/v3.1.0/kustomize_3.1.0_linux_amd64
        chmod u+x /tmp/kustomize

    - name: Deploy with kustomize
      run: |-
        cd "$KUSTOMIZATION_DIR"
        /tmp/kustomize build .
        for IMAGE_TAG in $IMAGES_TAGS; \
          do IMAGE=$(echo "$IMAGE_TAG" | cut -d':' -f1) ; \
          /tmp/kustomize edit set image "$IMAGE"="$BASE_IMAGE_REPOSITORY"/"$IMAGE_TAG"; \
          /tmp/kustomize edit set namespace "$NAMESPACE"; \
        done
        kubectl -n "$NAMESPACE" delete job database-migration || true
        /tmp/kustomize build . | kubectl apply -f -
        for DEPLOYMENT in $DEPLOYMENTS; do kubectl rollout status deployment/"$DEPLOYMENT" -n "$NAMESPACE"; done
        kubectl -n "$NAMESPACE" get services -o wide
      env:
        KUSTOMIZATION_DIR: ${{ inputs.kustomization_dir }}
        NAMESPACE: ${{ inputs.namespace }}
        IMAGES_TAGS: ${{ inputs.images_tags }}
        DEPLOYMENTS: ${{ inputs.deployments }}
        BASE_IMAGE_REPOSITORY: ${{ format('{0}.dkr.ecr.{1}.amazonaws.com', secrets.aws_account_id, secrets.aws_region) }}
